.onesong {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 79vh;
}

.onesongtitle {
    font-size: 80px;
}

.player {
    display: flex;
    width: 1000px;
    position: sticky;
    top: 1000px;
   background-color: rgb(184, 214, 228);
   border-radius: 20px;
}

.songimage {
    border-radius: 40px;
}
