
.navbar-main {
    display: flex;
    text-decoration: none;

    list-style: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0px;
    height: 200px;
    border-bottom: 2px solid white;
}

.logo {
    background-image: '.../public/logo.jpeg';

}

.moodlogoimage {
    margin-left: 8%;
    max-height: 100px;
    max-width: 100px;
}


.title {
    font-weight: bold;
    font-size: 80px;
    color: white;
    margin-right: 50%;
}


.moodlogoimage{
    height: 150px;
    border-radius: 5px;
    margin-right: 40px;
}

.logged-in-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 5%;


}

.searchbox input {
    max-width: 300px;
}

.logout-button {
    margin-left: 50%;
    margin-top: 30px;
}

.searchit {
    margin-left: 230%;
}
