.navbar {

}

.navbar-main {
    display: flex;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0px;
    height: 200px;
}

.logo {
    background-image: '.../public/logo.jpeg';

}

.logout-button {
    margin-right: 8%;
}

.home-page-logo {
    /* margin-left: 8%; */
}

.title {
    font-weight: bold;
    font-size: 80px;
    color: white;
}


.moodlogoimage{
    height: 200px;
}
