
.searchbar {
  position: absolute;
}

.searchbox input {
  display: inherit;
  justify-content: center;
  min-width: 300px;
  min-height: 30px;
}

.songoptionscontainer {
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 30px;
}

.eachsongoption {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-width: 300px;
  min-height: 30px;
  color: black;
  border: 1px solid white;
}

.linktosongs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.linktosongs:hover {
  color: rgb(0, 194, 0);
}
