.moodlists {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.moodlistcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.moodboxes {
    height: 100vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
   border: 2px solid blue;
   margin: 20px;
   width: 300px;
   size-adjust: auto;
   background-color: rgb(255, 70, 70);
}


.eachmoodlist {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    font-size: 50px;
    height: 200px;
}

.moodlistedit-delete {
    display: flex;
    align-self: auto;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 5px;
}


.moodboxes:hover {
    transition: 1s;
    box-shadow: 0px 0px 10px 5px rgba(242, 3, 3, 0.892);
    color: black;
    font-family: bold;
    cursor: pointer;
}

.buttons-for-moodlists{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.moodlistheader {
    font-size: 50px;
    margin-top: 20px;
}


.textformoodlists{
    text-decoration: none;
}


.REDstyle{
    background-color: red;
}

.greenstyle{
    background-color: green;
}


.bluestyle{
    background-color: blue;
}

.purplestyle{
    background-color: purple;
}

.blackstyle{
    background-color: black;
}

.editmoodform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
