.homepagebuttons {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}



.homepagelogin {
    margin: 10px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    border: 2px solid black;
    font-size: 15px;

}




.homepagesignup{
    margin: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    border: 2px solid black;
    font-size: 15px;

}



.homepagelogin:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.homepagesignup:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.personallinks {
    display: inline-flex;
    margin: 5px;
    bottom: 0;
    padding: 5px;
}

.moodhome {
    background-image: url('../—Pngtree—creative\ curved\ music\ note\ border_6018241.png');
    background-size: contain;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

#homepagetitle {
    font-size: 100px;
}

.homepagefooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 10.35vw;
    position: bottom;
}

#github{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
    border: solid white 1px;
    border-radius: 5px;

}

#linkedin {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
    border: solid white 1px;
    border-radius: 5px;
}

#github:hover {
    margin-bottom: 10px;
    transition: 0.5s;
}

#linkedin:hover {
    margin-bottom: 10px;
    transition: 0.5s;
}

.me {
    color:white;
}


.homebody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#m {
   color: #F25F5C
}
#o {
    color:#FFE066
}
#o1 {
    color:#247BA0
}
#d {
    color:#70C1B3
}
