.signupuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;


}
.signupusercontent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 6%;
    background-color: whitesmoke;
    /* padding :100px; */
    width: 350px;
    z-index: 0;
}


.signupuser label {
    font-size: 30px;

}

#loginbutton2 {
    margin-top: 2%;
    background-color: rgb(255, 70, 70);
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 2px solid black;
}

#loginbutton2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.namecontainer {
    display: flex;
    justify-content: center;
}

.signupinputfield input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 30px;
    width: 220px;
    margin-bottom: 10px;
}


.signinpageheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
    font-size: 50px;
    width: 350px;
}


#signupbutton {
    margin-top: 8px;
    color: white;
    height: 40px;
    width: 220px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: bold;
    background-color: black;
    margin-bottom: 20px;
}

#signupdirection {
    margin-top: 5px;
    margin-bottom: 10px;
}

.signuperrors {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    font-size: 15px;
}

.signuperror {
    padding: 2px;
}
.signuperrors {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    font-size: 15px;
}
