.moodlist-songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: row;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.grow:hover { transform: scale(1.1); }

.eachsong {
    width: 80vw;
    height: auto;
    display: flex;
    background-color: rgb(114, 146, 250);
    color:white;
    margin: 10px;
    justify-content: space-around;
    font-size: 30px;
    /* height: 20%; */
    align-items: center;
   /* border: 2px solid red; */
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 10px;

}

.eachsong:hover{
    height:10%;
    width: 80%;
    transition: 1s;
    box-shadow: 0px 0px 10px 5px rgb(0, 38, 255);
    color: black;
    font-family: bold;
    cursor: pointer;
}

.eachsong:hover p {
    cursor: pointer;
}


.addsongbutton{
    margin-top: 20px;
    border: 2px solid black;
    font-size: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}


.moodlistsongtitle{
    font-weight: bold;
    font-size: 50px;
}


.songuseroptions {
    padding: 20px;

}



.playsong{
    padding: 10px;
}

.editsong {
    padding: 10px;
}

.deletesong {
    padding: 10px;
}


.playsong:hover{
    color: green;
    font-family: bold;
}

.editsong:hover {
    color: yellow;
    font-family: bold;
}

.deletesong:hover {
    color: red;
    font-family: bold;
}
